@charset "UTF-8";

/*CONFIGURAÇÃO DESKTOP*/

@media screen and (min-width: 900px) {
    header {
        font-size: 1.5em;
    }
    
    section {
        padding-top: 91px;
        padding-bottom: 91px;
    }

    .pai {
        background-image: url(vampetaço.png);
        background-size: cover;
        background-position: 0px -80px;
        background-repeat: no-repeat;
        border: solid 2px black;
        display: flex;
        flex-flow: row wrap;
        width: 800px;
        margin: auto;
    }

    .filho {
        background-color: white;
        padding:40px;
        border: dashed 1px black;
        flex: auto;
    }
}
