@charset "UTF-8";

/*CONFIGURAÇÃO PADRÂO*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
}

main {
    height: 100vh;
}

section {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: rgb(223, 221, 221);
    height: 150px;
    border: solid 1px black;
    padding: 10px;
    font-size: 0.9em;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.filho:hover {
    cursor: pointer;
}

footer {
    background-color: rgb(223, 221, 221);
    height: 100px;
    border: solid 1px black;
}