@charset "UTF-8";

/*versão desktop*/

@media screen and (min-width: 993px) and (max-width: 1200px) {
    section {
        box-shadow: 1px 1px 6px black;
        background-image: url(back-phone.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 400px;
        width: 675px;
        margin: auto;
        border-radius: 20px;
    }

    form {
        height: 400px;
        width: 337.5px;
        box-shadow: -1px 0px 6px black;
        background-color: white;
        text-align: justify;
        position: relative;
        left: 337.5px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }

    form > h1 {
        font-size: 40px;
        text-align: center;
        padding: 15px;
    }

    form > p {
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 12px;
        font-size: 20px;
    }

    img {
        background-color: rgb(71, 145, 145);
        margin-right: 5px;
        position: relative;
        top: 6px;
        width: 22px;
        height:22px;
        margin-left: 3px;
    }

    #senha {
    margin-top: 5px;
    }

    #usuario, #senha {
        border-radius: 10px;
        margin-right: 3px;
        margin-left: 3px;
        background-color: rgb(71, 145, 145);
    }

    input {
        border-radius: 5px;
        margin-bottom: -6px;
        margin-top: 4.5px;
        height: 40px;
        font-size: 20px;
        width: 270px;
    }

    #enviar {
        width: 331px;
        height: 45px;
        margin-bottom: 3px;
        margin-left: -7px;
    }

    #enviar:hover {
        cursor: pointer;
    }

    #link {
        margin-top: -9px;
        padding-top: 12px;
        text-align: center;
        width: 308px;
        margin-left: 5px;
    }

    #link:hover {
        padding-top: 11px;
        border: 1px solid rgb(71, 145, 145);
        margin-left: 4px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 20px;
        cursor: pointer;
    }

    #link > a {
        height: 10px;
        color: rgb(59, 136, 136);
        text-decoration: none;
    }
    #link > a:hover {
        text-decoration: underline;
    }
}