@charset "UTF-8";

/*configuração geral*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100vh;
}

body {
    background-image: linear-gradient(rgba(128, 0, 128, 0.767), rgba(0, 128, 0, 0.795));
}

