@charset "UTF-8";

/*configuração geral*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100vh;
}

body {
    background-image: linear-gradient(rgba(128, 0, 128, 0.767), rgba(0, 128, 0, 0.795));
}

main {
    box-shadow: 1px 1px 6px black;
    background-image: url(back-phone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    background-attachment: fixed;
    height: 500px;
    width: 250px;
    margin: auto;
    margin-top: 200px;
    border-radius: 20px;
}

form {
    position: relative;
    top: 211px;
    margin-top: 90px;
    background-color: white;
    text-align: justify;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

form > h1 {
    margin-top: 90px;
    font-size: large;
    text-align: center;
    padding: 10px;
}

form > p {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}


img {
    background-color: rgb(71, 145, 145);
    margin-right: 5px;
    position: relative;
    top: 4px;
    width: 18px;
    height:18px;
}

#sen {
    margin-top: 3px;
}

#usu, #sen {
    border-radius: 10px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: rgb(71, 145, 145);
}

input {
    border-radius: 5px;
    margin-bottom: -7px;
    margin-top: 3px;
    height: 30px;
    font-size: 15px;
}

#enviar {
    width: 230px;
    height: 40px;
    margin-bottom: 2px;
}

p > a {
    height: 10px;
    margin-bottom: 0px;
    margin-left: 35px;
    color: black;
    text-decoration: none;
}
P > A:hover {
    text-decoration: underline;
}
