@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Orbitron';
    src: url('Orbitron/Orbitron-Medium.ttf') format('truetype');
}

:root {
    --fonte-principal: 'Orbitron', "Verdana";
    --cor-texto: lightgray;
    --cor-principal: black;
    --cor-secundária: white;
}

body {
    background-color: var(--cor-secundária1);
    font-family: var(--fonte-principal);
    display: grid;
    grid-template-columns: 10px 1fr 10px;
}

header {
    color: var(--cor-texto);
    background-color: var(--cor-principal);
    text-align: justify;
    grid-column: 2;
    border-radius: 8px;
}

#começo {
    display: flex;
    flex-direction: column;
}

#começo .barra {
    width: 100%;
    height: 3px;
    background-color: var(--cor-secundária);
}

#começo img {
    padding: 10px;
    width: 100%;
}

#começo h1 {
    font-size: 2.9vw;
    padding: 10px;
}

header nav ul {
    font-size: medium;
    font-weight: bold;
    font-variant: small-caps;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    list-style: none;
}


header nav ul .link {
    text-decoration: none;
    padding: 10px;
    color: var(--cor-texto);
    transition: background-color 0.2s, color 0.2s;
}

header nav ul .link:hover {
    
    color: var(--cor-secundária);
}

#home {
    margin-top: 10px;
    border-radius: 8px;
    grid-column: 2;
    background-color: var(--cor-texto);
    color: var(--cor-principal);
}

#home h2 {
    text-align: center;
    padding: 10px;
}

#home h3 {
    padding: 5px;
}

#home img {
    height: 80px;
    width: 100%;
    border-radius: 10px;
    transition: height 0.1s, width 0.1s, margin 0.1s;
}

#home a img:hover {
    height: 82px;
    width: 101.5%;
    margin-bottom: -2px;
}