@charset "UTF-8";

@font-face {
    font-family: passion;
    src: url(fontes/PassionOne-Bold.ttf), format(ttf);
}

@font-face {
    font-family: sri;
    src: url(fontes/Sriracha-Regular.ttf), format(ttf);
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    height: 215px;
    background-color: black;
}

header > h1 {
    font-variant: small-caps;
    font-size: 85px;
    text-align: center;
    color: white;
    font-family: passion;
    font-weight: lighter;
    padding-top: 50px;
    margin-bottom: -15px;
     margin-top: 0px;
}

header > p {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    color: white;
}

p > a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

p > a:hover {
    text-decoration: underline;
}