@charset "UTF-8";

@font-face {
    font-family: passion;
    src: url(fontes/PassionOne-Bold.ttf), format(ttf);
}

@font-face {
    font-family: sri;
    src: url(fontes/Sriracha-Regular.ttf), format(ttf);
}

:root {
    --font1: "passion";
    --font2: "sri";
    --font3: "Verdana", "Geneva", "Tahoma", "sans-serif";

    --cor1: black;
    --cor2: white;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor2);
    margin: 0px;
    padding: 0px;
}

header {
    background-color: var(--cor1);
    text-align: center;
}

header > h1 {
    font-variant: small-caps;
    font-size: 10vw;
    color: var(--cor2);
    font-family: var(--font1);
    font-weight: lighter;
    padding-top: 50px;
}

header > p {
    font-family: var(--font3);
    color: var(--cor2);
    padding-bottom: 50px;
}

a {
    font-weight: bold;
    color: var(--cor2);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a::after {
    content: '🔗';
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte32);
    font-size: 4vw; /*usar vw para o texto mudar de tamanho conforme o tamanho da tela do usuario*/
}

p {
    font-family: var(--font2);
}

.normal {
    background-color: var(--cor2);
}

.imagem {
    box-shadow: inset 6px 6px 13px 0px black;
}

#img1 {
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
}

#img2 {
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
}

section.imagem > p {
    display: inline-block;
    color: var(--cor2);
    background-color: rgb(0, 0, 0, .514);
    padding: 5px;
    font-size: 1em;
}

footer {
    background-color: var(--cor1);
    font-family: var(--font2);
    text-align: center;
    color: var(--cor2);
}