@charset "UTF-8";

@media screen and (min-width: 600px) {
    #cabeçalho img {
        height: 27vw;
        margin-bottom: 4px;
    }

    nav {
        margin-bottom: 10px;
    }

    nav ul {
        font-size: 1.2em;
    }

    nav ul .escondido {
        display: block;
        margin-right: 14vw;
        font-size: 1.4em;
    }

    nav ul .link2 {
        display: none;
    }   

    #introdução {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    #introdução h2 {
        font-size: 3.4vw;
    }

    #história {
        font-size: 2.2vw;
    }

    #história h1 {
        font-size: 1.5em;
        padding: 10px;
    }

    #história p {
        padding: 10px;
    }

    .sumário {
        font-size: 2.4vw;
        margin: 5px;
    }

    .sumário:hover {
        margin-left: 25px;
    }

    .nomes {
        height: 39vw;
    }

    .nomes p {
        padding: 20px;
    }

    .nomes img {
        height: 28vw;
        width: 33vw;
    }

    .nomes img:hover {
        height: 30vw;
        width: 35vw;
    }


    .nomecentralizar {
        height: 39vw;
    }

    .nomecentralizar p {
        padding: 20px;
    }

    .nomecentralizar img {
        height: 28vw;
        width: 33vw;
    }   

    .nomecentralizar img:hover {
        height: 30vw;
        width: 35vw;
    }

    #miudo {
        font-size: 2.2vw;
        padding: 10px;
    }

    .barra {
        height: 10px;
    }

    #imagem1 .imagem {
        background-size: 250%;
    }

    #imagem2 {
        margin-top: -10px;
        grid-column: 1/ span 3;
    }

    #imagem2 .imagem {
        background-size: 335%;
    
    }

    .video iframe {
        padding-right: 10px;
        padding-left: 10px;
    }
}