@charset "UTF-8";

@media screen and (min-width: 768px) {

    :root {
        --fonte-principal: 'Orbitron', "Verdana";
        --cor-texto: black;
        --cor-texto2: rgb(97, 97, 97);
        --cor-fundoprincipal: white;
        --cor-fundosecundária: lightgray;
    }
    body {
        background-color: var(--cor-fundoprincipal);
        grid-template-columns: 10px 1fr 1fr 10px;
    }

    nav {
        grid-column: 1 / span 4;
    }

    nav ul .escondido {
        display: block;
        font-size: 1.5em;
        margin-left: 100px;
    }

    nav ul .escondido2 {
        display: block;
        font-size: 1.5em;
        margin-right: 100px;
    }

    nav ul .link2 {
        display: none;
    }

    #titulo {
        grid-column: 2 / 4;
        font-size: 1.3em;
    }

    #home {
        margin-top: 10px;
        border-radius: 8px;
        grid-column: 2 / 4;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #home details {
        align-items: start;
    }

    #home details summary {
        font-size: 1.7vw;
        font-weight: bold;
        margin-top: 15px;
        width: fit-content;
        margin-right: 5px;
    }

    #home details p {
        font-size: 1.5vw;
        width: 47vw;
    }

    #home img {
        height: 13vw;
        width: 47vw;
    }

    #home a img:hover {
        outline: 5px solid rgb(134, 134, 134);
        margin-left: 0px;
    }

    #rodapé {
        font-size: 14px;
        padding: 14px;
        grid-column: 1/ span 4;
        
    }
}