@charset "UTF-8";

@media screen and (min-width: 800px) {
    nav ul .escondido {
        margin-right: 15vw;
        font-size: 1.4em;
    }

    .nome {
        height: 280px;
    }

    .nomesprimeiro {
        height: 290px;
    }

    .nomesúltimo {
        height: 270px;
    }
}