@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Orbitron';
    src: url(../Orbitron-Medium.ttf) format('truetype');
}

:root {
    --fonte-principal: 'Orbitron', "Verdana";
    --cor-texto: black;
    --cor-texto2: rgb(97, 97, 97);
    --cor-fundoprincipal: white;
    --cor-fundosecundária: lightgray;
}

body {
    background-color: var(--cor-fundoprincipal);
    font-family: var(--fonte-principal);
    display: grid;
    grid-template-columns: 10px 1fr 10px;
}

nav {
    border-top: 1px solid var(--cor-texto);
    box-shadow: 0px 0px 5px var(--cor-texto);
    background-color: var(--cor-fundoprincipal);
    grid-column: 1 / span 3;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul {
    font-weight: bold;
    font-variant: small-caps;
    display: flex;
    justify-content: space-around;
    gap: 5px;
    padding: 5px;
    list-style: none;
    border-bottom: solid 3px var(--cor-fundoprincipal);
    border-top: solid 3px var(--cor-fundoprincipal);
}

nav ul .link {
    text-shadow: 0.5px 0.5px 0.5px var(--cor-texto);
    font-size: 7vw;
    text-decoration: none;
    color: var(--cor-texto);
    transition: color 0.2s;
}

nav ul .link:hover {
    color: var(--cor-texto2);
}

#titulo {
    grid-column: 2;
    font-size: 4.2vw;
    font-weight: 900;
    text-align: center;
    padding-top: 10px;
    display: block;
    margin: auto;
    width: fit-content;
}

#titulo h2 {
    box-shadow: 0px 0px 5px black;
    text-shadow: 2px 2px 1px darkgray;
    background-color: var(--cor-fundoprincipal);
    border-radius: 15px
}

#home {
    box-shadow: 0px 0px  5px black;
    padding-bottom: 10px;
    margin-top: 10px;
    border-radius: 8px;
    grid-column: 2;
    background-color: var(--cor-fundoprincipal);
    color: var(--cor-texto);
}

#home details {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#home details summary {
    text-shadow: 0px 0px 1px var(--cor-texto);
    font-size: 3vw;
    font-weight: bold;
    margin-top: 15px;
    width: fit-content;
    margin-right: 5px;
}

#home details summary:hover {
    cursor: pointer;
    text-decoration: underline;
}

#home details p {
    text-shadow: 0px 0px 1px var(--cor-texto);
    font-size: 2.9vw;
    text-indent: 20px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
}

#home img {
    box-shadow: 0px 0px 5px;
    margin-top: 5px;
    height: 22vw;
    width: 100%;
    border-radius: 10px;
    transition: height 0.1s, width 0.1s, margin 0.1s;
}

#home a img:hover {
    margin-left: 8px;
}

#rodapé {
    background-color: var(--cor-texto);
    color: var(--cor-fundoprincipal);
    font-size: 2.5vw;
    padding: 2.5vw;
    text-align: center;
    grid-column: 1/ span 3;
    margin-top: 10px;
}

#rodapé a {
    text-decoration: none;
    padding: 10px;
    color: var(--cor-fundoprincipal);
    transition: color 0.2s;
}

#rodapé a:hover {
    color: var(--cor-fundosecundária);
}

#rodapé a::after {
    content: '🔗';
}