@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Orbitron';
    src: url('/projetometalgear/Orbitron/Orbitron-Medium.ttf') format('truetype');
}

:root {
    --fonte-principal: 'Orbitron', "Verdana";
    --cor-texto: white;
    --cor-texto2: rgb(97, 97, 97);
    --cor-fundoprincipal: black;
    --cor-fundosecundária: lightgray;
}

body {
    background-color: var(--cor-fundosecundária);
    font-family: var(--fonte-principal);
    display: grid;
    grid-template-columns: 10px 1fr 10px;
}

#introdução {
    color: var(--cor-texto);
    background-color: var(--cor-fundoprincipal);
    text-align: justify;
    grid-column: 1/ span 3;
    border-radius: 8px;
}

#introdução .barra {
    width: 100%;
    height: 3px;
    background-color: var(--cor-texto);
}

#introdução h1 {
    font-size: 4vw;
    padding: 10px;
}

nav {
    background-color: var(--cor-fundoprincipal);
    grid-column: 1 / span 3;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul {
    font-size: medium;
    font-weight: bold;
    font-variant: small-caps;
    display: flex;
    justify-content: space-around;
    gap: 5px;
    padding: 5px;
    list-style: none;
}

i {
    font-size: 1.4em;
}

nav ul .link {
    text-decoration: none;
    color: var(--cor-texto);
    transition: background-color 0.2s, color 0.2s;
}

nav ul .link:hover {
    color: var(--cor-fundosecundária);
}

#home {
    margin-top: 10px;
    border-radius: 8px;
    grid-column: 2;
    background-color: var(--cor-texto);
    color: var(--cor-principal);
    display: flex;
    flex-direction: column;
}

#home h2 {
    font-size: 1.7em;
    font-weight: 900;
    text-align: center;
    padding-top: 10px;
}
#home details {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#home details summary {
    font-weight: bold;
    margin-top: 15px;
    width: fit-content;
    margin-right: 5px;
}

#home details summary:hover {
    cursor: pointer;
    text-decoration: underline;
}

#home details p {
    text-indent: 20px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
}

#home img {
    margin-top: 5px;
    height: 110px;
    width: 100%;
    border-radius: 10px;
    transition: height 0.1s, width 0.1s, margin 0.1s;
}

#home a img:hover {
    margin-left: 8px;
}

#rodapé {
    background-color: var(--cor-fundoprincipal);
    color: var(--cor-texto);
    padding: 10px;
    text-align: center;
    grid-column: 1/ span 3;
    margin-top: 10px;
}

#rodapé a {
    text-decoration: none;
    padding: 10px;
    color: var(--cor-texto);
}

#rodapé a:hover {
    color: var(--cor-fundosecundária);
}

#rodapé a::after {
    content: '🔗';
}