@charset "UTF-8";

@media screen and (min-width: 599px) {
    nav ul .link {
        font-size: 1.5em;
    }

    nav ul .link2 {
    font-size: 1.5em;
    }

    #titulo {
        grid-column: 2;
        font-size: 1.3em;
    }
}