@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Orbitron';
    src: url(../Orbitron-Medium.ttf) format('truetype');
}

:root {
    --fontetexto: 'Orbitron', "Verdana";
    --cortextoprimario: #132c05;
    --cortextosecundario: #5e8844;
    --corfundoprimario: white;
    --corfundosecundario: #375B14;
}

body {
    background-color: var(--cortextoprimario);
    font-family: var(--fontetexto);
    display: grid;
    grid-template-columns: 10px 1fr 10px;
}

#cabeçalho {
    grid-column: 1 / span 3;
    margin-bottom: 2px;
}

#cabeçalho img {
    height: 150px;
    width: 100%;
}

nav {
    background-color: white;
    grid-column: 1 / span 3;
    position: sticky;
    top: 0;
    z-index: 1;
    margin-bottom: 6px;
    border: 3px solid var(--cortextoprimario);
}

nav ul {
    font-size: 1.6em;
    font-weight: bold;
    font-variant: small-caps;
    display: flex;
    justify-content: space-around;
    gap: 5px;
    padding: 5px;
    list-style: none;
}

i {
    font-size: 1.6em;
}

nav ul .link {
    text-decoration: none;
    color: var(--cortextoprimario);
    transition: background-color 0.2s, color 0.2s;
}

nav ul .link:hover {
    color: var(--cortextosecundario);
}

#introdução {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: var(--corfundoprimario);
    grid-column: 2;
}

#introdução h2 {
    font-size: 1.3em;
    text-align: center;
    text-shadow: 1px 1px 0.5px var(--cortextosecundario);
    color: var(--cortextoprimario);
    padding: 5px;
    margin-bottom: 10px;
}

#história {
    grid-column: 2;
    font-family: var(--fontetexto);
    font-size: 0.9em;
    background-color: white;
}

#história h1 {
    text-shadow: 1px 1px 0.5px var(--cortextosecundario);
    padding: 5px;
    color:  var(--cortextoprimario);
    font-size: 1.5em;
    text-decoration: underline;
}

#história p {
    padding: 5px;
    text-align: justify;
    color: var(--cortextoprimario);
    text-shadow: 0px 0px 1px var(--cortextosecundario);
}

.sumário {
    color: var(--cortextoprimario);
    text-shadow: 1px 1px 1px var(--cortextosecundario);
    box-shadow: 0px 0px 2px var(--cortextoprimario);
    margin: 2px;
    transition: margin 0.2s;
}

.sumário:hover {
    text-decoration: underline;
    cursor: pointer;
    margin-left: 10px;
}

.nomes {
    height: 215px;
    text-shadow: 1px 1px 1px var(--cortextoprimario);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nomes p {
    color: var(--cortextosecundario);
    text-align: center;
    padding: 10px;
}

.nomes img {
    border-radius: 8px;
    height: 115px;
    width: 155px;
    box-shadow: 0px 0px 4px var(--cortextoprimario);
    display: block;
    margin: auto;
    margin-top: 5px;
    transition: height 0.2s, width 0.2s;
}

.nomes img:hover {
    height: 128px;
    width: 168px;
    cursor: pointer;
}

#miudo {
    color: var(--cortextoprimario);
    text-align: center;
    text-shadow: 1px 1px 1px var(--cortextosecundario);
    font-size: 3vw;
    padding: 10px;
}

#miudo a {
    color: var(--cortextoprimario);
    text-decoration: underline;
}

#miudo a:hover {
    color: var(--cortextosecundario);
}

.barra {
    height: 6px;
    width: 100%;
    background-color: var(--cortextoprimario);
}

.nomecentralizar {
    height: 215px;
    text-shadow: 1px 1px 1px var(--cortextoprimario);
}

.nomecentralizar p {
    color: var(--cortextosecundario);
    text-align: center;
    padding: 10px;
}

.nomecentralizar img {
    border-radius: 8px;
    height: 115px;
    width: 155px;
    box-shadow: 0px 0px 4px var(--cortextoprimario);
    display: block;
    margin: auto;
    margin-top: 5px;
    transition: height 0.2s, width 0.2s;
}

.nomecentralizar img:hover {
    height: 128px;
    width: 168px;
    cursor: pointer;
}

#imagem1 {
    margin-top: -10px;
    grid-column: 1/ span 3;
}

#imagem1 .imagem {
    box-shadow: inset 0px 6px 13px var(--cortextoprimario);
    background-image: url(../snakemeio.jpg);
    background-repeat: no-repeat;
    background-size: 352.5%;
    background-attachment: fixed;
    background-position: top center;
    height: 500px;
    grid-column: 2;
    margin-top: 10px;
}

#imagem2 {
    margin-top: -10px;
    grid-column: 1/ span 3;
}

#imagem2 .imagem {
    box-shadow: inset 0px 4px 13px var(--cortextoprimario);
    background-image: url(../finalmetalgear3.jpg);
    background-repeat: no-repeat;
    background-size: 352.5%;
    background-attachment: fixed;
    background-position: top center;
    height: 500px;
    grid-column: 2;
    margin-top: 10px;
}

.sombra {
    box-shadow: 0px -4px 13px;
}

#video {
    background-color: white;
    grid-column: 2;
}


.video iframe {
    border-top: solid 10px var(--cortextoprimario);
    border-bottom: solid 10px var(--cortextoprimario);
    height: auto;
    width: 100%;
    aspect-ratio: 16/9;
    padding-right: 5px;
    padding-left: 5px;
}

#rodapé {
    background-color: white;
    color: var(--cortextoprimario);
    padding: 10px;
    text-align: center;
    grid-column: 1/ span 3;
    margin-top: 10px;
}

#rodapé a {
    text-decoration: none;
    padding: 10px;
    color: var(--cor-texto);
    transition: color 0.2s;
}

#rodapé a:hover {
    color: var(--cortextosecundario);
}

#rodapé a::after {
    content: '🔗';
}