@charset "UTF-8";

@media screen and (min-width: 768px) {
    #cabeçalho img {
        height: 207px;
        width: 100%;
    }
    body {
        grid-template-columns: 27px 1fr 27px;
    }

    .intro h1 {
        font-size: 1.6em;
    }

    .intro {
        font-size: 1em;
    }

    .sumário {
        font-size: 1.1em;
    }

    .nomesprimeiro {
        height: 270px;
    }

    .nomesprimeiro p {
        font-size: 0.95em;
    }

    .nomesprimeiro img {
        height: 220px;
        width: 250px;
    }

    .nomesprimeiro img:hover {
        height: 230px;
        width: 260px;
    }

    .nomes {
        height: 280px;
    }

    .nomes p {
        font-size: 0.95em;
    }

    .nomes img {
        height: 220px;
        width: 250px;
    }

    .nomes img:hover {
        height: 230px;
        width: 260px;
    }

    .nomesúltimo {
        height: 270px;
        margin-bottom: -13px;
    }

    .nomesúltimo p {
        font-size: 0.95em;
    }

    .nomesúltimo img {
        height: 220px;
        width: 250px;
    }

    .nomesúltimo img:hover {
        height: 230px;
        width: 260px;
    }

    #miudo {
        font-size: 1.1em;
        padding-bottom: 10px;
    }

    .históriaprimeiro {
        font-size: 1em;
    }

    .história {
        font-size: 1em;
    }

    #imagem1 {
        grid-column: 2;
    }

    #imagem2 {
        grid-column: 2;
    }

    .video iframe {
        width: 700px;
        display: block;
        margin: auto;
        padding: 15px;
    }
}