@charset "UTF-8";

/*desktop pequeno*/

@media screen and (min-width: 993px) and (max-width: 1200px){
    * {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.3em;
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    html {
        height: 100vh;
    }

    body {
        background: url(imagens/back-pc.jpg);
        background-size: cover;
        background-position: center center;
    }

    main {
        background-color: rgba(255, 255, 255, 0.747);
        width: 90vw;
        margin: auto;
        margin-top: 20px;
        border-radius: 10px;
        padding: 10px;
    }

    h1 {
        text-align: center;
        margin: auto;
        color: rgba(255, 255, 255, 0.952);
        text-shadow: 2px 0px 2px black;
    }

    img {
        display: block;
        margin: auto;
    }

    #mobile, #print, #tablet, #tv {
        display: none;
    }
}