@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    background-color: black;
}

main {
    min-width: 400px;
    max-width: 800px;
    margin: auto;
    background-color: white;
}

header {
    padding-top: 200px;
    padding-bottom: 136px;
    background-color: black;
}

section {
    text-align: center;
    height: 240px;
    background-color: white;
}

#img2 {
    background-image: url(../Fotos/jeremagrin.jpeg);
    background-repeat: no-repeat;
    background-size: 200%;
    margin-top: 30px;
    background-position: -160px -250px;
}

#img1 {
    background-image: url(../Fotos/jeregordin.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -50px;
    margin-right: 4px;
}

div {
    display: inline-block;
    background-color: blue;
    height: 240px;
    width: 240px;
}

footer {
    padding-top: 140px;
    padding-bottom: 136px;
    background-color: black;
}

