@charset "UTF-8";

/*CONFIG GERAL*/

* {
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
}

main {

}

header {
    background-color: lightgray;
    border-radius: 0px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-flow: row wrap;
}

header > h1 {
    flex: auto;
    margin-right: 5px;
}

header > menu {
    display: flex;
}

header > menu > p {
    background-color: gray;
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px;
    font-size: medium;
}

main > article {
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}