@charset "UTF-8";

/*CONFIG GERAL*/

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    text-align: justify;
}

header {
    padding: 10px;
}

header > h1 {
    padding-bottom: 10px;
}

header > p {
    padding-top: 10px;
}

#secflex {
    background-color: lightgray;
    display: flex;
    flex-flow: column nowrap;
}

#mf {
    display: flex;
    flex-flow: row wrap-reverse;
}

#text {
    padding: 10px;
    flex: 1 1 267px;
}

#mf > div > img {
    padding: 10px;
    height: 300px;
}

#tf {
    display: flex;
    flex-flow: row wrap;
}

#img {
    display: block;
    margin: auto;
}

#text2 {
    padding: 10px;
    flex: 1 1 313px;
}

#media {
    display: block;
    margin: auto;
    padding: 10px;
}

#secnor {
    padding: 10px;
}

#secnor > h2 {
    padding-bottom: 10px;
}

#secnor > p {
    padding-top: 10px;
}